

.form-container {
    position: relative;
    top: 2px;
    background-color: lightgrey;
    padding: 30px;
    border-radius: 10px;
    box-shadow: black;
    border color: #000;
    float: right
}

h1 {
    color: mediumblue;
    text-align: center;
    
}

h2, h5 {
    color: mediumblue;
    text-align: center;
}

.card {
    background-color: rgb(182, 244, 255);
    
}

div.box {
 text-align: center;

}
.aboutme {
    width: 100px;
}

.quality {
    width: 325px;
    height: 250px;
    float: left;
}
.nav-link {
    text-align: center;
}
.jumbotron{
    background-color: rgb(182, 244, 255);
    text-align: center;
    font-weight: bold;
}
.display-4 {
    font-weight: 600;
}
.lead {
    font-weight: bold;
}
 .container { 
     background-color: lightpink; 
    
 } 
